<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/JetBrainsProjects/ivr-dsl/src/test/java/priv/ivrdsl">
        <classes>
            <class name="priv.ivrdsl.TestControllerUT">
                <methods>
                    <include name="testJdbcSetter"/>
                    <include name="testApiSetter"/>
                </methods>
            </class>
            <class name="priv.ivrdsl.TestExceptionUT">
                <methods>
                    <include name="testDatabasePropsException"/>
                    <include name="testParameterException1"/>
                    <include name="testParameterException2"/>
                    <include name="testParameterException3"/>
                    <include name="testSyntaxException1"/>
                    <include name="testSyntaxException2"/>
                    <include name="testSyntaxException3"/>
                </methods>
            </class>
            <class name="priv.ivrdsl.TestGeneratorUT">
                <methods>
                    <include name="testParseCommand"/>
                    <include name="testCommandParser"/>
                    <include name="testIvrMap"/>
                    <include name="testExport"/>
                </methods>
            </class>
            <class name="priv.ivrdsl.TestUtilsUT">
                <methods>
                    <include name="testRemoveLastChar"/>
                    <include name="testGetLastChar"/>
                    <include name="testSplitString"/>
                    <include name="testVoiceOutput"/>
                    <include name="testSqlQuery"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Unit Test">
        <groups>
            <run>
                <include name="ut"/>
            </run>
        </groups>
        <classes>
            <class name="priv.ivrdsl.TestControllerUT"/>
            <class name="priv.ivrdsl.TestExceptionUT"/>
            <class name="priv.ivrdsl.TestGeneratorUT"/>
            <class name="priv.ivrdsl.TestUtilsUT"/>
        </classes>
    </test>
</suite>